################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroServiceWithRabbitMQ/MicroServiceWithRabbitMQ/obj
/MicroServiceWithRabbitMQ/.vs/MicroServiceWithRabbitMQ/v16/.suo
/MicroServiceWithRabbitMQ/MicroServiceWithRabbitMQ/bin/Debug/netcoreapp2.2
/MicroServiceWithRabbitMQ/MicroRabbit.Domain.Core/obj
/MicroServiceWithRabbitMQ/.vs/MicroServiceWithRabbitMQ/DesignTimeBuild/.dtbcache.v2
/MicroRabbit.Domain.Core/bin/Debug/netcoreapp3.1
/MicroRabbit.Domain.Core/obj
/.vs/MicroServiceWithRabbitMQ
/MicroRabbit.Infra.Bus/obj
/MicroRabbit.Infra.Bus/bin/Debug/netcoreapp3.1
